.contents-section{
    width: calc(100% - 250px);
    height: 100vh;
    padding: 48px 48px;
    background-color: var(--background-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 250px;

    @media (max-width: 672px) {
        left: 50px;
        width: calc(100% - 50px);
    }

    .accordion-body{
        .btn{
            &:first-child{
                background-color: var(--primary-color);
                color: var(--primary-text);
            }
            background-color: var(--primary-text);
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
            width: 120px;
        }
    }

    #BTN{
        background-color: var(--primary-color);
        color: var(--primary-text);
        width: 120px;
    }

    .tabs{

        p.formatter{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--primary-color);
            font-weight: 700;
            padding-bottom: 8px;
        }

        p{
            border-bottom: 3px solid rgba(0, 0, 0, 0.1);
        }

        .btn{
            background-color: var(--primary-text);
            border: none;
            outline: none;
            border-radius: 0;
            height: 45px;
            width: auto;
            font-weight: 700;
            color: black;
            
            &:first-child{
                border-bottom: 2px solid var(--primary-color);
                background-color: var(--primary-text);
                color: var(--primary-color);
            }
        }
    }

    
}
